* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
}
body {
  background-color: #1e272e;
  color: rgba(255, 255, 255, 0.678);
}
button {
  border: 1px solid #2c2f3418;
  border-radius: 10px;
  color: inherit;
  background-color: transparent;
  box-shadow: -2px -5px 5px rgba(255, 255, 255, 0.122),
    5px 5px 5px rgba(0, 0, 0, 0.524);
}

.calc {
  border-radius: 10px;
  width: 40vw;
  padding: 15px;
  margin: 5% auto;
  background-color: #353b4871;
  box-shadow: 18px 18px 15px rgba(0, 0, 0, 0.274);
  /* to resize */
  overflow: auto;
  resize: both;
}

.calc .calc-screen {
  padding: 5px 10px;
  height: 30%;
  position: relative;
}

.calc .calc-screen .light-mode-btn {
  border-radius: 10px;
  position: absolute;
  right: 0.05rem;
  cursor: pointer;
}

.calc .calc-screen .prev-operand,
.current-operand {
  font-size: 30px;
  font-weight: bolder;
  word-wrap: break-word;
}
.calc .calc-screen .history {
  font-weight: bolder;
  font-size: 20px;
  position: absolute;
  bottom: 1.5rem;
}

.calc .calc-body {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  height: 60%;
}

.two-cols {
  grid-column: 1 / span 2;
}

.calc .calc-body .clear {
  font-size: 25px;
  font-weight: bold;
  background-color: #f53b57ba;
}
.calc .calc-body .delete,
.equal {
  font-size: 20px;
}

.calc .calc-body .nums {
  font-size: 20px;
  font-weight: bolder;
  transition: 0.2s;
}
.num-pressed {
  color: #ff7f50;
}
.negative,
.operators {
  font-size: 25px;
}
.active-operator {
  background-color: #ff7f50;
  color: black;
}

@media only screen and (max-width: 700px) {
  .calc {
    width: 80%;
  }

  .calc .calc-body .operators,
  .calc .calc-body .negative,
  .calc .calc-body .clear,
  .calc .calc-body .delete {
    font-size: 20px;
  }
  .calc .calc-body {
    gap: 10px;
  }
}

@media only screen and (min-width: 750px) {
  .calc {
    width: 50%;
  }

  .calc .calc-body .operators,
  .calc .calc-body .negative,
  .calc .calc-body .clear,
  .calc .calc-body .delete {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1000px) {
  .calc {
    width: 30vw;
  }
  .calc .calc-body .operators,
  .calc .calc-body .negative,
  .calc .calc-body .clear,
  .calc .calc-body .delete {
    font-size: 20px;
  }
  .calc .calc-body .nums {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1300px) {
  .calc {
    width: 25vw;
  }
  .calc .calc-body .operators,
  .calc .calc-body .negative,
  .calc .calc-body .clear,
  .calc .calc-body .delete,
  .calc .calc-body .nums {
    font-size: 20px;
  }
  .calc .calc-body {
    height: 45vh;
  }
}
